services:

  test-publisher:
    image: ghcr.io/raphvk/ros-rmw-test:test-publisher-jazzy
    environment:
      - RMW_IMPLEMENTATION=rmw_zenoh_cpp
      - ZENOH_CONFIG_OVERRIDE=routing/router/peers_failover_brokering=true
    command: bash -ic "ros2 run rmw_zenoh_cpp rmw_zenohd & ros2 launch test_publisher test_publisher_launch.py duration:=50"
    volumes:
      - ./trace/test-subscriber-1:/root/.ros/tracing
