name: docker-ros

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  zenoh-router-jazzy:
    runs-on: ubuntu-latest
    steps:
      - uses: ika-rwth-aachen/docker-ros@main
        with:
          build-context: zenoh-router
          platform: amd64
          target: run
          image-tag: zenoh-router-jazzy
          base-image: rwthika/ros2:jazzy
          rmw-implementation: rmw_zenoh_cpp
          command: ros2 run rmw_zenoh_cpp rmw_zenohd

  test-publisher-jazzy:
    runs-on: ubuntu-latest
    steps:
      - uses: ika-rwth-aachen/docker-ros@main
        with:
          build-context: test_publisher
          platform: amd64
          target: run
          image-tag: test-publisher-jazzy
          base-image: rwthika/ros2:jazzy
          rmw-implementation: rmw_zenoh_cpp
          command: ros2 launch test_publisher test_publisher_launch.py
